@font-face {
  font-family: Postnobillscolombo;
  src: url('../fonts/postnobillscolombo-medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --relume-library-lite--rl-black: #000;
  --relume-library-lite--rl-white: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.image {
  vertical-align: baseline;
  max-width: 51%;
  display: block;
  position: static;
}

.container {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 0;
  padding-left: 0;
  display: flex;
}

.container.con2 {
  max-width: 61%;
}

.container.top {
  color: #333;
  flex-flow: row;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  min-width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

.container.aboutcon {
  margin-top: 0;
  margin-bottom: 0;
}

.heading {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block {
  outline-offset: 0px;
  outline: 3px #333;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  justify-content: flex-end;
  align-self: auto;
  align-items: center;
  max-width: 22%;
  display: flex;
}

.div-block.blck2 {
  order: 1;
}

.div-block.outline {
  justify-content: center;
  align-items: center;
  max-width: 38%;
}

.div-block.outline.topbox {
  flex-flow: row;
  max-width: 35%;
  box-shadow: 0 2px 5px #0003;
}

.div-block-2 {
  flex-flow: column;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  max-width: 48%;
  padding-top: 25px;
  padding-left: 33px;
  display: flex;
}

.div-block-2.titlediv {
  flex-flow: column;
  max-width: 100%;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
}

.div-block-2.block3 {
  order: -1;
}

.div-block-2.about {
  text-align: left;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 32%;
  padding-top: 0;
  padding-left: 0;
}

.heading-2 {
  color: #000;
  text-align: left;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  font-family: Postnobillscolombo, Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
  display: block;
}

.body {
  font-family: Open Sans, sans-serif;
}

.paragraph {
  color: #000;
  align-self: flex-start;
  max-width: 100%;
  margin-bottom: 0;
}

.image-2 {
  max-width: 62%;
}

.image-3 {
  opacity: 1;
  outline-offset: 0px;
  outline: 3px #333;
  box-shadow: 0 0 10px #0003;
}

.image-4 {
  outline-offset: 0px;
  outline: 3px #333;
  flex: 0 auto;
  max-width: 100%;
  box-shadow: 0 0 10px #0003;
}

.longway {
  justify-content: center;
  align-items: center;
  max-height: 100%;
  display: flex;
}

.image-5 {
  display: block;
}

.image-6 {
  vertical-align: middle;
  display: inline-block;
}

.container-2 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: flex;
}

.navbar {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #bdbdbdf2;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.quick-stack {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 85%;
  padding: 0;
}

.section {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 60px;
  display: flex;
}

.section.filmtop {
  flex-flow: row;
  margin-top: 115px;
}

.section.filmtop.revery {
  flex-flow: row;
}

.section.filmtop.title {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section.bottom {
  margin-bottom: 100px;
}

.section.top {
  margin-top: 0;
}

.section-2 {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.image-8 {
  flex: 0 auto;
  max-width: 100%;
  display: block;
}

.brand {
  justify-content: center;
  align-items: center;
  max-width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.nav-link {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Postnobillscolombo, Arial, sans-serif;
  font-size: 17px;
}

.nav-link:hover {
  color: #7c7c7c;
}

.nav-link.w--current {
  color: #333;
  font-family: Postnobillscolombo, Arial, sans-serif;
}

.nav-link.w--current:hover {
  color: #7c7c7c;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container-3 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-brand {
  max-width: 10%;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.footer-light {
  border-bottom: 1px solid #e4ebf3;
  padding: 0 0 30px;
  position: relative;
}

.footer-wrapper-two {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: #1a1b1fbf;
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.footer-form-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin-top: 0;
  display: flex;
}

.footer-form-field {
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 48px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::placeholder {
  color: #1a1b1fcc;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  height: 48px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
  font-size: 11px;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  display: flex;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.brand-2 {
  max-width: 7.6rem;
  margin-left: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.brand-2.w--current {
  max-width: 7.6rem;
  margin-left: 20px;
}

.container-4 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  min-width: 83%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-menu-2 {
  margin-top: 12px;
}

.navbar-2 {
  background-color: #dddddded;
  position: fixed;
  inset: 0% 0% auto;
}

.cell {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body-2, .body-3, .body-4 {
  font-family: Open Sans, sans-serif;
}

.youtube {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.div-block-3 {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: block;
  position: static;
}

.youtube-2 {
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  object-fit: scale-down;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: auto;
  align-items: center;
  display: flex;
  position: relative;
  top: 0%;
  left: 0%;
  overflow: auto;
}

.flex-block {
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  justify-content: center;
  align-items: center;
}

.video {
  box-sizing: border-box;
  clear: none;
  overflow: visible;
}

.youtube-3 {
  max-height: 0%;
}

.video-2 {
  max-height: 13%;
}

.container-5 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 55%;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
}

.container-5.top {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  max-width: 60%;
  margin-top: 95px;
  margin-bottom: 30px;
}

.container-5.top.title5 {
  flex-flow: row;
  justify-content: center;
  align-self: auto;
  align-items: center;
  min-width: 65px;
  max-width: 65%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: flex;
}

.container-5.bottom {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 55%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-5.bottom.revery {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  order: 0;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  min-width: 85%;
  max-width: 85%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.container-5.toppytop {
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 50%;
  max-width: 100%;
  margin-top: -10px;
}

.container-5.toppytop.whatdaheck {
  margin-top: -15px;
}

.div-block-4 {
  width: 591px;
  height: 281px;
  padding-top: 15px;
}

.div-block-5 {
  flex-flow: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  min-width: 55%;
  max-width: 100%;
  display: flex;
}

.div-block-5.topblock {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  display: flex;
}

.div-block-5.title {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  min-width: 100%;
  max-width: 100%;
  display: flex;
}

.heading-3 {
  color: #000;
  justify-content: flex-start;
  align-items: center;
  width: 295px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Postnobillscolombo, Arial, sans-serif;
  font-weight: 400;
  display: flex;
}

.heading-3.title8 {
  margin-top: 15px;
  font-size: 65px;
}

.youtube-4 {
  box-shadow: 0 0 10px #0003;
}

.div-block-89 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-width: 65%;
  display: flex;
}

.div-block-89.top {
  width: 355%;
}

.div-block-89.top.desky {
  width: 345%;
}

.top {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.rl-padding-section-large {
  padding-top: 0;
  padding-bottom: 0;
}

.rl-error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.rl-form-checkbox {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  display: flex;
}

.rl-heading-style-h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Postnobillscolombo, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.rl-error-text {
  color: #e23939;
}

.rl_contact1_form-field-wrapper {
  position: relative;
}

.rl-form-input {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.rl-form-input:focus {
  border-color: var(--relume-library-lite--rl-black);
  display: block;
}

.rl-form-input::placeholder {
  color: var(--relume-library-lite--rl-black);
  font-size: 1rem;
}

.rl_contact1_heading-wrapper {
  text-align: center;
  width: 100%;
  max-width: 48rem;
}

.rl-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-checkbox-label-small {
  color: var(--relume-library-lite--rl-black);
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl-success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.rl_contact1_spacing-block-4 {
  width: 100%;
  padding-bottom: .5rem;
}

.rl_section_contact1 {
  background-color: var(--relume-library-lite--rl-white);
}

.rl-button {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--relume-library-lite--rl-black);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--relume-library-lite--rl-black);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--relume-library-lite--rl-black);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-white);
  text-align: center;
  background-color: #000;
  padding: .75rem 1.5rem;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
}

.rl-success-text {
  font-weight: 600;
}

.rl_contact1_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-form-text-area {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  height: auto;
  min-height: 11.25rem;
  margin-bottom: 0;
  padding: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  overflow: auto;
}

.rl-form-text-area:focus {
  border-color: var(--relume-library-lite--rl-black);
}

.rl-form-text-area::placeholder {
  color: var(--relume-library-lite--rl-black);
}

.rl-form-checkbox-icon {
  border: 1px solid var(--relume-library-lite--rl-black);
  cursor: pointer;
  border-radius: 0;
  width: 1.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: .5rem;
  transition: all .2s;
}

.rl-form-checkbox-icon.w--redirected-checked {
  border-width: 1px;
  border-color: var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-black);
  box-shadow: none;
  background-size: 16px 16px;
}

.rl-form-checkbox-icon.w--redirected-focus {
  border-color: var(--relume-library-lite--rl-black);
  box-shadow: none;
}

.rl-text-style-medium {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.rl_contact1_form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rl_contact1_spacing-block-3 {
  width: 100%;
  padding-bottom: 3rem;
}

.rl_contact1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-link {
  color: var(--relume-library-lite--rl-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

.rl_contact1_button-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-text-style-subheading {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl-padding-global {
  min-width: 36.4rem;
  padding-left: 5%;
  padding-right: 5%;
}

.rl_contact1_spacing-block-2 {
  width: 100%;
}

.rl_contact1_form-block {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 35rem;
  margin-bottom: 0;
}

.rl-field-label {
  color: var(--relume-library-lite--rl-black);
  margin-bottom: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.paragraph-2 {
  text-align: center;
  width: 1119px;
  margin-top: 15px;
}

.utility-page-wrap {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  flex-direction: column;
  width: 260px;
  margin-top: 0;
  padding-top: 0;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.typeform-wrapper-venubpwi {
  height: 500px;
}

.container-6 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 0;
  display: flex;
}

.container-6.top {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-6.vert {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  max-width: 50%;
}

.heading-4 {
  text-align: left;
  min-width: 312px;
  max-width: 312px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Postnobillscolombo, Arial, sans-serif;
  font-weight: 400;
}

.image-9, .image-10 {
  max-width: 100%;
}

.image-11, .image-12 {
  max-width: 60%;
}

.quick-stack-2 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.image-13 {
  max-width: 100%;
}

.slider {
  justify-content: center;
  align-items: center;
  max-width: 85%;
  height: 86%;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.section-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: flex;
}

.section-4 {
  width: 1920px;
  height: 1080px;
}

.image-14 {
  text-align: center;
  flex: 0 auto;
  display: block;
}

.container-7 {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 0;
  display: flex;
}

.div-block-7 {
  align-self: flex-start;
  padding-left: 50px;
  padding-right: 50px;
}

.div-block-8 {
  flex-flow: column;
  align-self: flex-start;
  display: flex;
}

.button {
  color: #000;
  text-align: left;
  background-color: #e0e0e0;
  transition: background-color .2s;
}

.button:hover {
  background-color: #c4c4c4;
}

.button.morebutt {
  margin-top: 10px;
}

.body-5 {
  font-family: Open Sans, sans-serif;
}

.paragraph-3, .paragraph-4 {
  color: #000;
}

.section-5 {
  margin-bottom: 100px;
}

.section-6 {
  color: #000;
}

.section-6.top {
  margin-bottom: 100px;
}

.section-6.top.vert {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: block;
}

.paragraph-5, .list-item, .list-item-2, .list-item-3, .list-item-4, .list-item-5, .list-item-6, .list-item-7 {
  color: #000;
}

.container-8 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-16 {
  max-width: 10rem;
  margin-bottom: 15px;
}

.paragraph-6 {
  margin-top: 10px;
}

.container-9 {
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  max-width: 88%;
  margin-top: 95px;
  display: flex;
}

.div-block-90 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 99%;
  padding-left: 0;
  display: flex;
}

.section-7 {
  margin-top: 115px;
  margin-bottom: 50px;
}

.section-8 {
  margin-top: 115px;
  margin-bottom: 100px;
}

.section-9, .section-10 {
  margin-top: 115px;
}

.div-block-91 {
  max-width: 40%;
  box-shadow: 0 2px 5px #0003;
}

.container-10 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-11 {
  margin-bottom: 100px;
}

.image-17 {
  box-shadow: 0 0 10px #0003;
}

.section-12 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  display: block;
}

.container-11 {
  padding-bottom: 60px;
}

.slider-2 {
  height: 100%;
}

.background-video {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: visible;
}

.container-12 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  display: block;
}

.heading-5 {
  flex: 0 auto;
  align-self: flex-start;
}

.paragraph-7, .paragraph-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.image-19 {
  padding-bottom: 60px;
}

.text-block {
  padding-bottom: 30px;
}

.image-20 {
  padding-bottom: 60px;
}

.background-video-2 {
  box-sizing: border-box;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.reveryvid {
  min-width: 85%;
  max-width: 85%;
}

.youtube-6 {
  min-width: 100%;
  margin-top: 0;
}

.video-3 {
  aspect-ratio: 3 / 2;
  order: 0;
  align-self: center;
  max-width: 85%;
}

@media screen and (max-width: 991px) {
  .container {
    flex-flow: column;
    max-width: 100%;
  }

  .container.top {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .div-block {
    max-width: 45%;
  }

  .div-block.outline {
    max-width: 80%;
  }

  .div-block.outline.topbox {
    max-width: 75%;
  }

  .div-block-2.titlediv {
    flex-flow: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    max-width: 83%;
    margin-left: 0;
  }

  .div-block-2.about {
    align-self: center;
    max-width: 83%;
  }

  .quick-stack {
    max-width: 83%;
  }

  .section {
    margin-top: 50px;
  }

  .section.top {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    display: flex;
  }

  .container-3 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    display: flex;
  }

  .footer-brand {
    max-width: 18%;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .footer-wrapper-two {
    flex-flow: column;
    width: 115%;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .brand-2.w--current {
    max-width: 16%;
  }

  .nav-menu-2 {
    background-color: #dddddded;
    margin-top: 0;
  }

  .container-5 {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .container-5.bottom {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 70%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-5.toppytop {
    min-width: 90%;
    max-width: 95%;
  }

  .div-block-5 {
    max-width: 90%;
  }

  .div-block-5.topblock {
    margin-top: 15px;
  }

  .div-block-89 {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .div-block-89.top {
    width: 39.5rem;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 0;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl_contact1_spacing-block-3 {
    padding-bottom: 2.5rem;
  }

  .rl-padding-global {
    min-width: 36.7rem;
  }

  .paragraph-2 {
    font-size: 20px;
    line-height: 23px;
  }

  .container-6.vert {
    flex-flow: column;
    justify-content: center;
    align-self: auto;
    align-items: center;
    max-width: 85%;
  }

  .slider {
    max-width: 95%;
  }

  .div-block-8 {
    align-self: flex-start;
  }

  .paragraph-3, .paragraph-4 {
    font-size: 20px;
    line-height: 23px;
  }

  .section-6.top.vert {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .image-16 {
    max-width: 10rem;
  }

  .paragraph-6 {
    font-size: 20px;
  }

  .section-7, .section-8 {
    margin-top: 50px;
  }

  .div-block-91 {
    max-width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-flow: column;
  }

  .container.top {
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .div-block {
    justify-content: center;
    align-items: center;
    max-width: 56%;
  }

  .div-block.outline {
    max-width: 83%;
  }

  .div-block.outline.topbox {
    max-width: 75%;
  }

  .div-block-2.titlediv {
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    max-width: 83%;
    margin-left: 0;
  }

  .div-block-2.about {
    align-self: center;
    max-width: 83%;
  }

  .heading-2 {
    text-align: center;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    display: flex;
  }

  .paragraph {
    text-align: left;
  }

  .quick-stack {
    max-width: 83%;
  }

  .section.top {
    margin-top: 0;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-3 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 135%;
    display: flex;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-brand {
    max-width: 12%;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper-two {
    width: 225%;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .brand-2, .brand-2.w--current {
    max-width: 7.6rem;
  }

  .nav-menu-2 {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .container-5.bottom {
    margin-top: 0;
  }

  .container-5.toppytop {
    max-width: 90%;
  }

  .div-block-89 {
    width: 100%;
  }

  .div-block-89.top {
    width: 28.5rem;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl-text-style-medium {
    font-size: 1rem;
  }

  .rl_contact1_spacing-block-3 {
    padding-bottom: 2rem;
  }

  .rl_contact1_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl-padding-global {
    min-width: 35%;
  }

  .rl_contact1_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .container-6.top {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .container-6.vert {
    flex-flow: column;
    justify-content: center;
    align-self: auto;
    align-items: center;
    max-width: 85%;
    margin-top: 0;
  }

  .slider {
    max-width: 95%;
  }

  .div-block-8 {
    justify-content: center;
    align-self: flex-start;
    align-items: flex-end;
    display: block;
  }

  .section-6.top.vert {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 115px;
    display: flex;
  }

  .container-8 {
    margin-top: 70px;
  }

  .image-16 {
    max-width: 8rem;
  }

  .section-7, .section-8 {
    margin-bottom: 80px;
  }

  .div-block-91 {
    max-width: 75%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container.top {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container.aboutcon {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .div-block {
    max-width: 65%;
  }

  .div-block.outline {
    max-width: 88%;
  }

  .div-block.outline.topbox {
    max-width: 85%;
  }

  .div-block-2.titlediv {
    align-self: center;
    max-width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .div-block-2.about {
    flex-flow: column;
    order: 0;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    max-width: 75%;
    padding-bottom: 20px;
  }

  .heading-2 {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 38px;
    line-height: 38px;
  }

  .quick-stack {
    max-width: 100%;
  }

  .section {
    margin-bottom: 0;
  }

  .section.filmtop {
    margin-top: 75px;
  }

  .section.top {
    margin-top: 0;
  }

  .container-3 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: none;
    display: flex;
  }

  .footer-brand {
    max-width: 16%;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: auto;
    max-height: 69px;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .brand-2, .brand-2.w--current {
    max-width: 7.6rem;
    margin-left: 8px;
    padding-right: 10px;
  }

  .nav-menu-2 {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .navbar-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .container-5.top {
    max-width: 83%;
  }

  .container-5.top.title5 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: 80px;
    max-width: 80%;
    margin-bottom: 0;
  }

  .container-5.bottom {
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    max-width: 83%;
  }

  .container-5.bottom.revery {
    min-width: 100%;
    max-width: 100%;
  }

  .container-5.toppytop {
    min-width: 90%;
    max-width: 95%;
    margin-top: 0;
  }

  .div-block-5 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    display: block;
  }

  .heading-3 {
    width: auto;
    font-size: 27px;
  }

  .heading-3.title8 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    flex-flow: column;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    margin-top: 0;
    line-height: 61px;
    display: flex;
  }

  .div-block-89.top {
    width: 168%;
  }

  .rl-padding-section-large {
    padding-top: 0;
    padding-bottom: 0;
  }

  .rl-padding-global {
    min-width: 36.4%;
  }

  .paragraph-2 {
    padding-right: 464px;
    font-size: 16px;
  }

  .paragraph-2.parry {
    color: #000;
    width: 199%;
    font-size: 0;
  }

  .container-6 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: column;
    margin-top: 40px;
  }

  .container-6.top {
    margin-top: 85px;
  }

  .container-6.vert {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 85%;
  }

  .heading-4 {
    min-width: 100%;
    max-width: 100%;
  }

  .slider {
    order: 0;
    align-self: auto;
    max-width: 100%;
  }

  .div-block-7 {
    align-self: center;
    max-width: 75%;
  }

  .div-block-8 {
    text-align: left;
    flex: 0 auto;
    align-self: flex-start;
    max-width: 75%;
  }

  .paragraph-3, .paragraph-4 {
    font-size: 13px;
  }

  .section-5 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-15 {
    max-width: 100%;
    display: block;
  }

  .container-8 {
    margin-top: 95px;
  }

  .image-16 {
    max-width: 7rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .paragraph-6 {
    color: #000;
    margin-top: 10px;
    font-size: 13px;
  }

  .div-block-91 {
    max-width: 85%;
  }

  .container-12 {
    max-width: 90%;
  }
}

#w-node-_19f36b6d-09c3-ad0f-e6ea-0df6ec1ada20-9c5d7c65 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_7c1520bc-376d-1d59-e124-b343b3392dc0-b421d77a {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 991px) {
  #w-node-_19f36b6d-09c3-ad0f-e6ea-0df6ec1ada20-9c5d7c65 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_19f36b6d-09c3-ad0f-e6ea-0df6ec1ada20-9c5d7c65 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_19f36b6d-09c3-ad0f-e6ea-0df6ec1ada20-9c5d7c65 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}


@font-face {
  font-family: 'Postnobillscolombo';
  src: url('../fonts/postnobillscolombo-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}