RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $index.html [NC,L]
RewriteRule ^([^\.]+)$ $home.html [NC,L]
RewriteRule ^([^\.]+)$ $film.html [NC,L]
RewriteRule ^([^\.]+)$ $photo.html [NC,L]
RewriteRule ^([^\.]+)$ $experience.html [NC,L]
RewriteRule ^([^\.]+)$ $contact.html [NC,L]
RewriteRule ^([^\.]+)$ $tdc.html [NC,L]
